body{
    background-image: url('../Images/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


#loginpage{
    display: block;
    
}

#dispname{
    font-size: large;
    font-weight: bold;
}

#registerpage{
    display: none;
}

#existuserpage{
    display: none;
}

#newentrollpage{
    display: none;
}

#coursehistorypage{
    display: none;
}